* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 135px;
    color: #131414;
    font-family: 'Chakra Petch', Arial, sans-serif;

}

a {
    text-decoration: none;
    color: #131414;
}